@import "../../variables";

.addList {
  list-style: none;
  padding: 0;
  
  li {
    margin-bottom: $half-gap;
  }

  .button {
    margin-right: $half-gap;
  }
}

.addListTitle {
  margin-top: $gap;
  margin-bottom: 0;
  display: block;
}