@use "sass:math";
@import "../../variables";


.root {
  overflow-x: hidden;
  margin: 0;
  padding: $gap;
  box-sizing: border-box;
}

.twoColWrapper {
  border-top: 1px solid #d4d4d4;
  display: flex;
  gap: $gap;
  padding: $gap 0;
  position: relative;
  flex-flow: row nowrap;
  justify-content: flex-start;
  
}

.selectColumn {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
  box-sizing: border-box;
  overflow: hidden;
}

.resultsColumn {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
  box-sizing: border-box;
  overflow: hidden;
  padding-left: $half-gap;
}

.errorList {
  color: red;
  margin-top: 0;
}

.errorTitle {
  color: red;
  margin-top: $gap;
  display: block;
}

.jsonDump {
  background-color: #eee;
  padding: $gap;
  box-shadow: inset 0px 0px 5px #d4d4d4;
}

.textarea {
  margin-top: $half-gap;
  width: 100%;
  height: 100px;
  padding: $half-gap;
  box-sizing: border-box;
}

.inputLabel {
  font-weight: bold;
}

.removeListTitle {
  margin-top: $gap;
  margin-bottom: 0;
  display: block;
}

.removeList {
  li {
    margin-bottom: $half-gap;
  }

  .button {
    margin-right: $half-gap;
  }
}

.combinedRewardsList {
  padding: 0;
  li {
    display: flex;
    overflow: hidden;
    margin-bottom: $half-gap;
  }
}

.combinedRewardText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rewardListText {
  padding-right: $half-gap;
}

.typeHeading {
  margin-top: $gap;
  display: block;
}

.typeChoiceLabel {
  vertical-align: middle;
  margin-right: $half-gap;
}

.typeChoice {
  vertical-align: middle;
}

.rewardList {
  overflow-y: scroll;
  max-height: 800px;
}