@import "../../variables";

:global(.badge).equipment {
  background-color: $equipmentColor !important;
}

:global(.badge).ally {
  background-color: $allyColor !important;

}

:global(.badge).feature {
  background-color: $featureColor !important;

}

:global(.badge).trinket {
  background-color: $trinketColor !important;

}

:global(.badge).price {
  background-color: $priceColor !important;
}

.singleRewardText {
  &.oneLine {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.badge {
  color:rgb(128, 128, 128) !important;
}
