@import "../../variables";

:global(.badge).equipment {
  background-color: $equipmentColor !important;
  color: $body-color;
}

:global(.badge).training {
  background-color: $trainingColor !important;
  color: $body-color;
}

:global(.badge).feature {
  background-color: $featureColor !important;
  color: $body-color;
}

:global(.badge).trinket {
  background-color: $trinketColor !important;
  color: $body-color;
}

:global(.badge).price {
  background-color: $priceColor !important;
  color: $body-color;
}

.price {
  &::before {
    content: '🪙';
  }
  color: rgb(223, 134, 0);
  font-weight: bold;
}

.singleRewardText {
  &.oneLine {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  strong {
    font-style: italic;
  }
}
