@import "../../variables";

:global(.badge).equipment {
  background-color: $equipmentColor !important;
  color: white;
}

:global(.badge).training {
  background-color: $trainingColor !important;
  color: white;
}

:global(.badge).feature {
  background-color: $featureColor !important;
  color: white;
}

:global(.badge).trinket {
  background-color: $trinketColor !important;
  color: white;
}

:global(.badge).price {
  background-color: $priceColor !important;
  color: white;
}

.singleRewardText {
  &.oneLine {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  strong {
    font-style: italic;
  }
}
