@use "sass:math";

$gap: 16px;
$half-gap: math.div($gap, 2);
$featureColor: rgb(199, 235, 232);
$equipmentColor: #eee;
$allyColor: rgb(230, 219, 235);
$trinketColor: rgb(255, 245, 188);
$priceColor: white;